<a href="https://colab.research.google.com/github/Ajay0110/Assignments/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

*, 
&#39;hello&#39;, 
-87.8, 
-, 
/, 
+, 
6

Operators: *,-,/,+

Expressions: 'hello', 87.8, 6

2. What is the difference between string and variable?

A Python variable is a symbolic name that is a reference or pointer to an object. Once an object is assigned to a variable, you can refer to the object by that name.

Characters enclosed within single or double quotes.

Ex: string1 = "This is string within double quotes"

string2 = 'This is string within single quote'

3. Describe three different Data Types ?

Three fundamental Data types in python are int, float, complex.

int data type: We can use int data type to represent whole numbers (integral values)

float data type: We can use float data type to represent floating point values (decimal values)

complex data type: Complex number is represented by complex class. It is specified as (real part) + (imaginary part)j

4. What is an expression made up of? What do all expressions do?

An expression is a construct made up of variables, operators, and method invocations, which are constructed according to the syntax of the language, that evaluates to a single value

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

An expression is a combination of values, variables, and operators.When we type an expression at the prompt, the interpreter evaluates it, which means that it finds the value of the expression.

eg: 4*5+20-40 is an example of a statement

A statement is a unit of code that has an effect, like creating a variable or displaying a value.When we type a statement, the interpreter executes it, which means that it does whatever the statement says. In general, statements donÃ¢Â€Â™t have values.

eg: variable declaration and assignment are statements because they do not return a value

In [1]:
#Example:
4*5+20-40 # Is a Expression
courseName = 'INeuron FullStack DataScience' # Is a Statement
print("Hello World !") # Is a Expression Statement

Hello World !

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

The variable bacon is set to 22 .The expression bacon + 1 does not reassign the value in bacon (that would the case if the expression is like bacon = bacon + 1 instead of bacon + 1)

In [2]:
# Example Case#1
bacon=22
bacon+1
print(bacon)

22

In [3]:
#Example Case#2
bacon=22
bacon=bacon+1 
print(bacon)

23

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

Both expressions evaluate to the string 'spamspamspam' Where as the first expression follows String Concatentation and the second expression follows String Multiplication

In [4]:
print('spam'+'spamspam') # string concatenation
print('spam'*3) # string multiplication

spamspamspam
spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-

Variable name must start with a letter or the underscore character.

Variable name cannot start with a number.

Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).

Variable names are case-sensitive (name, INEURON and ineuron are three different variables).

The reserved words(keywords) cannot be used naming the variable.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

In [5]:
egg='Ineuron' # Valid variable Initilization
100='hello' # Invalid Variable Initilization
print(egg) #prints the value of egg ie Ineuron
print(100) # Raises a Syntax Error as 100 is not a valid variable name

SyntaxError: ignored

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

The int(),float(),and str() functions will evaluate to the integer,floating-point number,string version of the value passed to them.

In [6]:
# Examples:
print('int(10.0) -> ',int(10.0)) # int() function converts given input to int
print('float(10) -> ',float(10)) # float() function converts given input to float
print('str(10) -> ',str(10)) # str() function converts given input to string

int(10.0) ->  10
float(10) ->  10.0
str(10) ->  10

10. Why does this expression cause an error? How can you fix it?

&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

This cause of error is 99.because 99 is not a string. 99 must be typecasted to a string to fix this error. the correct way is:

Input: 'I have eaten ' + str(99) + 'burritos.'

Output: 'I have eaten 99 burritos.'

In [7]:
print('I have eaten '+str(99)+' burritos')

I have eaten 99 burritos