<a href="https://colab.research.google.com/github/Ajay0110/Assignments/blob/main/Progamming_Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python Program to Find the Factorial of a Number?

In [4]:
def factorial(n):  
    return 1 if (n==1 or n==0) else n * factorial(n - 1);  
  
n = int(input("Enter a number to get factorial: "))
print("Factorial of",n,"is")  
factorial(n)

Enter a number to get factorial: 6
Factorial of 6 is

720

2. Write a Python Program to Display the multiplication Table?

In [6]:
def tables(num):
  for i in range(1,11):
    print(f"{num} * {i} = {(num*i)}")

In [10]:
n = int(input("Enter the number for which you require the table:"))
tables(n)

Enter the number for which you require the table:5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

3. Write a Python Program to Print the Fibonacci sequence?

In [21]:
def fibonacci(num):
  if num < 0:
    print("Please enter a number greater than 0")
  elif num == 0:
    return 0
  elif num==1 or num==2:
    return 1
  else:
    return fibonacci(num-1) + fibonacci(num-2)

In [22]:
print(fibonacci(9))

34

4. Write a Python Program to Check Armstrong Number?

In [26]:
def armstrong(num):
  sum = 0
  temp = num
  while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
  if num == sum:
    print(num,"is an armstrong number")
  else:
    print(num,"is not an armstrong number")

In [29]:
armstrong(643)

643 is not an armstrong number

In [33]:
armstrong(371)

371

5. Write a Python Program to Find Armstrong Number in an Interval?

In [31]:
def armstrong(num):
  sum = 0
  temp = num
  while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
  if num == sum:
    print(num)
  else:
    pass

In [32]:
lower = int(input("Enter lower limit: "))
upper = int(input("Enter upper limit: "))
for i in range(lower,upper):
  armstrong(i)

Enter lower limit: 100
Enter upper limit: 1000
153
370
371
407

6. Write a Python Program to Find the Sum of Natural Numbers?

In [40]:
def natural(num):
  sum=0
  for i in range(1,num+1):
    sum = sum+i
  return sum

In [42]:
n = int(input("Enter the number of natural numbers: "))
print(f"Sum of {n} natural numbers: {natural(n)}")

Enter the number of natural numbers: 50
Sum of 50 natural numbers: 1275